@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.desired-current {
    grid-template-columns: [desired] 1fr [icon] 3ch [current] 1fr;
    column-gap: 0.5rem;
}

td, th {
    border: 2px solid rgb(241 245 249 / var(--tw-border-opacity));
    text-align: start;
    padding: 1px 20px;
}