<main class="grid grid-cols-4 min-w-max max-w-min border border-slate-100 border-solid">
    {% for player in group.players %}
    {% include "partials/player.html" with context %}
    {% endfor %}
</main>
<div class="flex-1 flex flex-col gap-4 p-4">
    <form hx-patch="{{ request.app.url_path_for('groups') }}" hx-trigger="input delay:1s" hx-sync="this:replace"
        hx-boost="true" class="contents">
        {% include "components/group_details.html" with context %}
    </form>
    <!-- <input type="text" readonly value="{{ url_for('groups') }}?group_uuid={{ group.uuid }}" /> -->
    <form hx-post="{{ request.app.url_path_for('players') }}" hx-target="main" hx-swap="beforeend" hx-boost="true"
        class="contents">
        <input type="hidden" name="group_uuid" value="{{ group.uuid }}" />
        <input type="submit" value="+ Add Player" class="px-1 text-white no-underline bg-black  inline-block" />
    </form>
</div>