<div class="min-w-max">
    <form hx-patch="{{ request.app.url_path_for('players') }}" hx-trigger="input delay:1s" hx-sync="this:replace" class="flex justify-between">
        {% include "components/player_details.html" with context %}
    </form>
    <div class="grid desired-current">
        {% for gear in player.gearset %}
        {% include "partials/gear.html" with context %}
        {% endfor %}
    </div>
    <form hx-get="{{ request.app.url_path_for('needs') }}" hx-trigger="reload-needs-{{ player.uuid }} from:body" hx-sync="this:replace" class="flex justify-evenly">
        {% include "components/player_needs.html" with context %}
    </form>
</div>