<main class="grid grid-cols-4 min-w-max max-w-min border border-slate-100 border-solid">
    {% for player in group.players|sort(attribute='id') %}
    {% include "components/player/index.html" with context %}
    {% endfor %}
</main>
<div class="flex-1 flex flex-col gap-4 p-4">
    <form hx-patch="{{ request.app.url_path_for('groups', group_id=group.id) }}"
          hx-trigger="input delay:1s"
          hx-sync="this:replace"
          hx-boost="true"
          class="contents">
        {% include "components/group/details.html" with context %}
    </form>
    {% if group.players|length < 8 %} <form hx-post="{{ request.app.url_path_for('players', player_id=0) }}"
          hx-target="main"
          hx-swap="beforeend"
          hx-boost="true"
          class="contents">
        <input type="hidden"
               name="group_id"
               value="{{ group.id }}" />
        <input type="submit"
               value="+ Add Player"
               class="px-1 text-white no-underline bg-black inline-block" />
    </form>
    {% endif %}
    <table class="border border-slate-100 border-solid border-collapse table table-auto w-max">
        <thead>
            <th>Item</th>
            <th>Drop</th>
            <th>Pages</th>
            <th>Tomes</th>
        </thead>
        <tbody>
            <tr>
                <td>💍 Accessory</td>
                <td>1</td>
                <td>3 Ⅰ</td>
                <td>375</td>
            </tr>
            <tr>
                <td>🎩 Small</td>
                <td>2</td>
                <td>4 Ⅱ</td>
                <td>495</td>
            </tr>
            <tr>
                <td>✨ Glaze</td>
                <td>2</td>
                <td>3 Ⅱ</td>
                <td></td>
            </tr>
            <tr>
                <td>📱 Tomestone</td>
                <td>2</td>
                <td>7 🔪</td>
                <td></td>
            </tr>
            <tr>
                <td>🥼 Large</td>
                <td>3</td>
                <td>6 Ⅲ</td>
                <td>825</td>
            </tr>
            <tr>
                <td>🧵 Twine</td>
                <td>3</td>
                <td>4 Ⅲ</td>
                <td></td>
            </tr>
            <tr>
                <td>🧪 Solvent</td>
                <td>3</td>
                <td>4 Ⅲ</td>
                <td></td>
            </tr>
            <tr>
                <td>⚔ Weapon</td>
                <td>4</td>
                <td>8 Ⅳ</td>
                <td>500 + 📱 + 🧪</td>
            </tr>
        </tbody>
    </table>
</div>