@tailwind base;
@tailwind components;

.desired-current {
    grid-template-columns: [desired] 1fr [icon] 3ch [current] 1fr;
    column-gap: 0.5rem;
}

td, th {
    border: 2px solid rgb(241 245 249 / var(--tw-border-opacity));
    text-align: start;
    padding: 1px 20px;
}

@tailwind utilities;